.cover{
    padding-top: 80px;
    /*display: list-item;*/
}
.my-error-class{
    border: 1px solid #ff5454;
}
.my-valid-class{
    border: 1px solid #3fb0a8;
}
div#formReq {
    margin: 0;
    border-color: transparent;
}
#confirmRequest .modal-body, #resendMailConfirmDialog .modal-body{
    padding: 0px;
}
#inputEmail-error
{
    color:red;
    border: none;
    font-weight:normal;
    position:absolute;
}
#inputSerial-error
{
    color:red;
    border: none;
    font-weight:normal;
    position:absolute;
}

#scanner_serial_no-error
{
    color:red;
    border: none;
    font-weight:normal;
    position:absolute;
}

#contact_name-error {
    color:red;
    border: none;
    font-weight:normal;
    position:absolute;
}

#street_address-error {
    color:red;
    border: none;
    font-weight:normal;
    position:absolute;
}

#city-error {
    color:red;
    border: none;
    font-weight:normal;
    position:absolute;
}           

#state_or_region-error {
    color:red;
    border: none;
    font-weight:normal;
    position:absolute;
}

#country-error {
    color:red;
    border: none;
    font-weight:normal;
    position:absolute;
}

#postal_code-error {
    color:red;
    border: none;
    font-weight:normal;
    position:absolute;
}

#email_id-error {
    color:red;
    border: none;
    font-weight:normal;
    position:absolute;
}

#email_id.my-error-class {
    border:1px solid #3fb0a8;
}

.successCont, .errorCont{
    position: relative;
    background-color: #ffffff;
    border: 0px;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.panel-body.successCont p {
    font-size: 14px;
    word-wrap: break-word;
}
.navbar{border-bottom:3px solid #3fb0a8;}

.navbar-brand span {
    margin-left: 1em;
    vertical-align: bottom;
    position: relative;
    bottom: -4px;
}

.panel-body.errorCont p {
    font-size: 14px;
    word-wrap: break-word;
}

.dropdown.lang{position:fixed; top:2em; right:5em; z-index:10000;}

/*.select_div {
    position: fixed;
    right: 50px;
    z-index: 10000;
    top: 25px;
}*/
.select_div{
    padding: 15px 15px 15px 0;
}

.select_inner {
    padding: 5px 10px;
    font-size: 12px;
}
.select_inner:hover{
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
    cursor: pointer;
}
.headline {
    /*margin-top:65px;*/
}
.chk_box {
    margin-top:13px;
}
.margRL {
    margin:0px -15px;
}

.flash_message {
    color: #fff;
    background: #3fb0a8;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-bottom:10px;
}

p.flash_text {
    margin: 0px;
    font-size: 16px;
}

.ind_form {
    margin-bottom: 0px;
}

.phy_disk {
    margin-top: 15px;
}
.form-control:focus {
    border-color: #3fb0a8;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(63, 176, 168, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 204, 204,1);
}
.pad0{
    padding: 0px;
}
.padLR0{
    padding-left: 0px;
    padding-right: 0px;
}
@media (min-width:1025px) { 
    .select_div{
        padding: 15px 0px 15px 0;
    }
}
span.p_notify {
    margin-left: 0px;
}
.check_pos {
    position:absolute;
}
.marg50B {
    margin-bottom: 50px;
}
.disk_message {
    color: #fff;
    text-align: center;
    background: #3fb0a8;
    border: none;
}
div#flashMessage {
    margin: auto;
    width: 360px;
}
.panWid
{
    width:750px;
}
.close_msg {
    float: right;
    background: transparent;
    border: 0;
    font-size: 20px;
    padding: 0 !important;
    margin: 0 !important;
}

.checkbox {
    padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 0.07em;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 1px;
    color:#ffffff;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 0.2em;
    font-size: 12px;
    background-color: #228EFF;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    border-radius: 3px;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    height:16px;
    width:16px;
    top: 5px;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.seRial {
    position: relative;
}

.expiredDownloadBlk{
    background: #fff;
    text-align: center;
    padding: 15px;
}
.downloadLink{
    display: inline-block;
    position: absolute;
    right: 80px;
    top: 5px;
}
.download_icon {
    margin-right: 20px;
}
.download_info {
    padding: 6.5px 10px;
}

#downLoad .btn.btn-primary.download_icon {
    background-color: #38B0A9;
    border-color: #38B0A9;
}
.down_load_icon {
    margin-right: 5px;
    font-size: 14px;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
    animation: icon-spin 2s infinite linear; 
}
@-webkit-keyframes icon-spin {
    0%
    { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100%
    { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@keyframes icon-spin {
    0%
    { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100%
    { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
.validModelNo{
    display: none;
    margin-bottom: -20px;
}
.validModelNo span{
    font-style: italic;
    font-weight: 600;
    color: #5CBCB5;
}
.loader{
    display: none;
    background: rgba(0,0,0,0.45) url('../images/ajax-loader-cs.gif') no-repeat 50% 50%;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
}
.filterOptions{
    padding-bottom: 15px;
}
.filterOptions li a {
    background-color: #38B0A9;
    color: #fff;
    border-right: 1px solid #31938c;
    padding: 6px 12px;
}
.filterOptions select.btn.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}
.filterOptions li.active a {
    color: #fff;
    background-color: #31938c;
    border-right: 1px solid #31938c;
    outline: #17302e;
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.filterOptions select{
    margin-top: 6px;
}
.filterOptions .nav-pills > li + li{
    margin-left: 0px;
}
.emptyContentDiv{
    background: #fff;
    padding: 15px;
}