i {
    margin-left: .3em;
    vertical-align: top;
}
.fa-plus-circle, .fa-times-circle{
    vertical-align: middle;
}
.addNewFamilyLink, .addNewProdLink{
    padding-right: 0px;
}
.inputEditProductS, .inputEditFriendlyN, .help-block, .cancelFamilyLink, .cancelProdLink{
    display: none;
}
.addNewFamilyLink, .addNewFamilyLink:hover, .addNewProdLink, .addNewProdLink:hover{
    text-decoration: none !important;
}
.cancelFamilyLink, .cancelFamilyLink:hover, .cancelProdLink, .cancelProdLink:hover{
    color: #BF352D !important;
    text-decoration: none !important;
}
.row[role="button"]:hover{color:#337ab7; background-color: #f9f9f9;}
.row[role="button"] div:first-child::before {
    font-family: 'Glyphicons Halflings';
    content: "\e252";
    margin-right: 3px;
}
.collapsed.row[role="button"] div:first-child::before {
    font-family: 'Glyphicons Halflings';
    content: "\e250";
    margin-right: 3px;
}
.my-error-class {
    border: 1px solid #ff5454;
}
#downloadModal label.my-error-class, #copyProdForm label.my-error-class, #addExistingProdModal label.my-error-class {
    display: none !important;
}
.displayNone{
    display: none;
}
table {
    counter-reset: rowNumber;
}
table tbody tr {
    counter-increment: rowNumber;
}
table tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
.table>tbody>tr>td{
    z-index: 9;
    position: relative;
}
.table>tbody>tr>td.iconTd{
    position: inherit;
}
.downloadStatus{
    background-color: rgba(152, 182, 218, 0.03);
    height: 38px;
    position: absolute;
    left: 35px;
    z-index: 0;
}
.downloadSuccess{
    background-color: rgba(10, 203, 12, 0.24);
}
.friendlyNameTd, .fileNameTd{
    width: 25%;
    min-width: 200px;
}
.osTd, .langTd, .iconTd{
    width: 15%;
    min-width: 150px;
}
.friendlyNameTxt{
    padding: 2px 3px;
    border: 1px solid #aad4d6;
}
.updateFreindlyName{
    margin-left: -20px;
    color: #337AB7;
    cursor: pointer;
}
.loader{
    display: none;
    background: rgba(0,0,0,0.45) url('../images/ajax-loader-cs.gif') no-repeat 50% 50%;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
}
.prodUpdateSaveBtn{
    padding: 5px;
    border: 0;
    border-radius: 0;
    vertical-align: middle;
}
.prodUpdateCancelBtn{
    padding: 8px;
    border: 0;
    border-radius: 0;
    vertical-align: middle;
    margin-left: 10px;
}
.updateProdDetailsLoader{
    display: none;
    background: rgba(0,0,0,0.45) no-repeat 50% 50%;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
}
.loading {
    color: #1d6c81;
    font-size: 8px;
    margin: 100px auto -35px;
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loadingContent{
    width: 700px;
    margin: 0px auto;
    height: 120px;
    text-align: center;
    background: #BEE7F2;
    color: #186a7f;
    padding-top: 60px;
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}